*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: rgb(32, 31, 31);
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body.on{
    background: radial-gradient(#555,#111);
}
.bulb{
    position: relative;
    width: 80px;
    height:80px;
    background: #444;
    border-radius: 50%;
    z-index: 2;
}
.bulb::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 80px;
    background: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}
body.on .bulb::before{
    background: #fff;
}
body.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background:white ;
    border-radius: 50%;
    filter: blur(40px);
}
body.on .bulb{
    background: white;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff,

}
.bulb span:nth-child(1)
{
    position: absolute;
    display: block;
    top: -16px;
    left: -4px;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(341deg) ;
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
    
}
body.on .bulb span:nth-child(1){
    box-shadow: 20px 20px 0 10px #fff;
}
.bulb span:nth-child(2)
{
    position: absolute;
    display: block;
    top: -16px;
    right: -4px;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg) ;
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}
body.on .bulb span:nth-child(2){
    box-shadow: -20px 20px 0 10px #fff;
}
.wire{
    position: absolute;
    width: 4px;
    height: 60vh;
    left: calc(50% - 2px);
    bottom: 50%;
    background: #000;
    z-index: 1;
}
.switch{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: linear-gradient(#eee,#eee,#eee);
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.switch .btn{
    position: relative;
    width: 25px;
    height: 40px;
    background: linear-gradient(#777, #fff, #777);
    border-radius: 6px;
    border:2px solid #000;
    cursor: pointer;
}
.switch .btn::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 85%;
    background: linear-gradient(#fff,#fff);
    border-radius: 4px;
}
.on .switch .btn::before{
    top: 15%; 
}
#audio{
    display: none;
}
.happy{
 position: absolute;
 left: 10%;
 top: 30px;
 color:rgb(32, 31, 31);
 font-size: 50px;
 font-family: 'Anton', sans-serif;
}
.bday{
    position: absolute;
    left: 10%;
    top: 100px;
    color: rgb(32, 31, 31);
    font-size: 60px;
    font-family: 'Anton', sans-serif;
}
body.on .happy{
    color: rgb(255, 255, 0);
    text-shadow: 0 0 30px #ffe032;
    
}
body.on .bday{
    color: rgb(255, 225, 0);
    text-shadow: 0 0 30px #ffe032;
    
}
#text{
    color:rgb(32, 31, 31);
    position: absolute;
    bottom: 30%;
    left: 60px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
body.on #text{
    position: absolute;
    color: white;
    bottom: 30%;
    left: 60px;
    font-size: 50px;
    text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}
